@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
    background: #111215;
    color:rgb(247, 247, 247);
 }
input[type=number] {
    -moz-appearance:textfield;
    color:initial;
}


